{:source-paths ["src"]
 :dependencies [[metosin/malli "0.8.4"]
                ; [metasoarous/oz "1.6.0-alpha36"]
                [com.andrewmcveigh/cljs-time "0.5.2"]
                [hiccups "0.3.0"]
                [com.github.jpmonettas/flow-storm-inst "RELEASE"]
                [hashp "0.2.2"]
                [clj-fuzzy "0.4.1"]
                [philoskim/debux "0.8.2"]
                [inflections "0.14.1"]]

 :builds
 {:test                 {:target :node-test
                         :output-to "node-tests.js"
                         :autorun true}
  :autojournal-for-node {:target :node-script
                         :main autojournal.main/main
                         :compiler-options {:infer-externs true}
                         :devtools {:preloads [hashp.core flow-storm.api]}
                         :externs ["resources/gas.ext.js"]
                         :output-to "dev-Code.js"}
  :autojournal-for-gas  {:target :google-apps-script
                         :main autojournal.main/main
                         :compiler-options {:optimizations :simple
                                            :pretty-print true}
                         :externs ["resources/gas.ext.js"]
                         :output-to "Code.js"}}}
