; Run :ConjureShadowSelect autojournal in nvim to use repl.
; A browser must be loaded with project code for this to work.
{:source-paths ["src"]
 :dependencies [[metosin/malli "0.8.4"]
                [com.andrewmcveigh/cljs-time "0.5.2"]]
 :builds
 {:autojournal-for-node
  {:target :node-script
   :main autojournal.core/main
   :compiler-options {:infer-externs true}
   :externs ["resources/gas.ext.js"]
   :output-to "dev-Code.js"}
  :autojournal-for-gas
  {:target :google-apps-script
   :main autojournal.core/main
   :compiler-options {:optimizations :simple
                      :pretty-print true}
   :externs ["resources/gas.ext.js"]
   :output-to "Code.js"}}}


